@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#logo{
    width: 268px;
    height: 33px;
    margin-top: 13px;
}

.subMenu{
    display: none;
    position: absolute;
}

.mainMenu{
    display: flex;
    justify-content: space-around;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
}

.mainMenuitem{
    margin-left: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color:#ABABAB;
}
li:hover{
    color:rgb(0, 179, 155) ;
}

#about{
    color:rgb(0, 179, 155) ;
}
#logo,li:hover{
    cursor: pointer;
}

.mainMenuitem:hover .subMenu{
    display: block;
}